@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}
.profolio-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.navlist{
    display: flex;
    gap: 3.5rem;
    background-color: transparent;
    height: 15vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;

}
.navlist li{
    list-style: none;

}
.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    position: relative;


}
.left-container{
height: 100vh;
padding-left: 3rem;
display: flex;
align-items: center;

}
.left-container{
background: #262525;
width: 100%;

}
.icons .fa-brands{
    color:#bbb;
    font-size: 1.7rem;

}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

}
.content{
    margin-left: 4rem;

}
.content .intro{
    font-size: 1.5rem;
color: #fff;
}
.content .introspan{
    color: aqua;
}
.content h1{
    font-size: 4rem;
    color: aqua;
}
.content .detail{
    font-size: 1.1rem;
    color: #fff;
    max-width: 38rem;
    margin: 1.1rem 0 3rem 0;
    line-height: 1.8rem;

}
.btn-container button{
    border: .1rem solid #5DB9EE;
    font-size: 1.1rem;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease;

}
button:nth-child(1){
    background: #5DB9EE;
    color: #262525;
}
button:nth-child(2){
    background: transparent;
    color:#5DB9EE;
    margin-left: 2rem;

}
button:nth-child(1):hover{
    background: transparent;
    color: #5DB9EE;
}
button:nth-child(2):hover{
    background: #5DB9EE;
    color: #262525;
}
.icons .fa-brands:hover{
    cursor: pointer;
    background: linear-gradient(#fff,#3877FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.design .circle{
aspect-ratio: 1;
position: absolute;
border-radius: 50%;
top: 50%;
left: 70%;
transform: translate(-50%,-50%);
}
.circle:nth-child(1){
    background: linear-gradient(90deg,transparent 50%,#262525 50%);
    width: 38rem;
}
.circle:nth-child(2){
    background-image: url("image/1000001102.jpg");
    width: 30rem;
    background-size: 100%;
    background-repeat: no-repeat;
    border: .5rem solid white;
    box-shadow: 
    0 0 1rem #FFF,
    inset 0 0 1rem #fff,
    0 0 2rem #3877FF,
    inset 0 0 2rem #3877FF,
    0 0 4rem #3877FF,
    inset 0 0 4rem
    ;    
}
.navlist li a::after, .navlist .active::after{
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: 0.1rem;
    left: 0;
    bottom: -5px;
    transform: scalex(0);
    transform-origin: bottom right;
    transition: transform .5s;

}
.navlist li a:hover::after, .navlist .active::after{
    transform:  scalex(1);
    transform-origin: bottom left;

}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background:#262525;
}
    
.about-img img{
    width: 35vw;

}
.heading{
    text-align: justify;
    font-size: 3.5rem;
    color: #fff;

}
.about-content h2 {
    text-align: left;
    line-height: 1.2;

}
.about-content h3{
    font-size: 2.6rem;
    color: aqua;

}
.about-content p {
    font-size: 1.4rem;
    margin: 2rem 0 3rem;
    color: #fff;
}
.btn{
    border: .1rem solid #5DB9EE;
    font-size: 1.1rem;
    padding: .8rem 1.5rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s ease;
    background: #5DB9EE;
    color: #262525;
}
.btn:hover {
    background: transparent;
    color: #5DB9EE;
}
.services{
    background: #262525;
}
.headings{
    text-align: center;
    font-size: 3.5rem;
    color: aqua;

}
.services h2 {
    margin-bottom: 2rem;
}
.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.services-container .services-box {
    flex: 1 1 30rem;
    background: lightslategray;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #3877FF;
}
.services-box i{
    font-size: 7rem;
    color: #fff;

}
.services-box h3 {
    font-size: 2.5rem;

}
.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
.project{
    background: #5DB9EE;

}
.project h2{
    margin-bottom: 4rem;
    text-align: center;
}
.project-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.project-container .project-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #fff;
    overflow: hidden;
    display: flex;
}
.project-box img{
    width: 100%;
    transition: .5s ease;
}
.project-box:hover img{
    transform: scale(1.1);
}
.project-box .project-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba (0,0,0,.1) , #3877FF);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.project-box:hover .project-layer{
    transform: translateY(0);
}
.project-layer h4{
    font-size: 3rem;

}
.project-layer p {
    font-size: 1.5rem;
    margin: .3rem 0 1rem;
    color: #bbb;

}
.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: #262525;
    border-radius: 50%;
}
.project-layer a i {
    font-size: 2rem;
    color: #3877FF;
}
.contact{
    background: gray;
}
.contact h2 {
    margin-bottom: 3rem;
    color: #3877FF;
    text-align: center;

}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #5DB9EE;
    background: #bbb;
    border-radius: .8rem;
    margin: .7rem 0;

}
.contact form .input-box input{
    width: 49%;

}
.contact form textarea{
    resize: none;
}
.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}